* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: rgba($app-background, 0.5);
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 1200px) {
    overflow-y: visible;
  }
}
